body{
	background-color: #96A8C8;
	text-align: center;
	
	font-size: 16px;
	font-variant: small-caps;
	font-family: Lucida, sans-serif;
	font-weight: 500;
}

a{
	color: #96A8C8;
	text-decoration: none;	
	font-weight: 800;
}

a:hover{
	text-decoration: underline;
}

img {
	border: 0;
}

#container{
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;		
}

#topContainer{	
	width: 100%;	
	overflow: hidden;
}

#topLeft{
	width: 200px;
	float: left;
}
#topLeft .s{
	height: 115px;
	overflow:hidden;
	position: relative;
}
#topLeft ul{
	display: block;	
	position: absolute;
	top: -3px;
	left: -3px;
	list-style-type: none;
}
#topLeft a{
	color: #282B30;
	text-decoration: none;
	font-size: 21px;
	font-variant: small-caps;	
	font-family: Lucida, sans-serif;
	font-weight: 800;
}
#topLeft a:hover{
	font-size: 21px;
	font-variant: small-caps;
	font-family: Lucida, sans-serif;
	font-weight: 800;
	text-decoration: underline;
}

#topRight{
	width: 580px;	
	float: right;
}
#topRight .s{
	height: 115px;	
	overflow:hidden;	
	position: relative;
}

#topRightContainer{
	width: 100%;
	position: absolute;
	top: -5px;
	
}

#topRightContainer img{
	float:left;
}

#logo{
	height: 83px;
}


#contentContainer .s{
	text-align: center;
}

#middleContent ul{
	margin: auto;
	padding: 0;
	list-style-type: none;
	width: 400px;
}
#middleContent li{
	float: left;
}
#middleContent ul li a{
	display: block;
	margin: 0px 4px 0px 4px;
	width: 70px;
	border: 1px solid black;
	background-color: #6E7B91;	
	color: #FFF;
	text-decoration: none;
	font-size: 16px;
	font-variant: small-caps;	
	font-family: Lucida, sans-serif;
	font-weight:600;
}
#middleContent ul li a:hover{
	background-color: #FFF;
	color: #6E7B91;
}

#lj {
	vertical-align: bottom;
	border: 0;
}

.topCling{
	position: absolute;
	top: 0px;
}

.clearleft { clear: left; }

.line{
	padding: 0;
	display: block;
	height: 1px;
	font-size: 0px;
	background-color: #6E7B91;
	width: 95%;
	margin: auto;
}

#comicLinks{
	margin:auto;
	display:block;
	width: 300px;
}

#licenseText{
        margin:auto;
        display:block;
        width: 410px;
}


#ohnorobot{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* content-specific */
h1{
	display: inline;
	font-size: 20px;
	font-variant: small-caps;	
	font-family: Lucida, sans-serif;
	font-weight: 800;
}

h2 {
	font-size: 20px;
	font-variant: small-caps;
	font-style: italic;
	font-family: Lucida, sans-serif;
	font-weight: 800;
}

h3{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-variant: small-caps;
	font-style: italic;
	font-family: Lucida, sans-serif;
	font-weight: 800;
	clear: both;
}

h4{
	margin: 0px;
	padding: 0px;
	font-size: 6px;
	font-variant: small-caps;
	font-style: italic;
	font-family: Lucida, sans-serif;
	font-weight: 800;
	clear: both;
}

h5{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-variant: small-caps;
	font-family: Lucida, sans-serif;
	font-weight: 500;
	clear: both;
}


.dialog {
 min-width: 100px;
 color:#000;
 text-align: left;
}

.dialog .hd .c,
.dialog .ft .c {
 font-size:1px; /* ensure minimum height */
 height:13px;
}

.dialog .ft .c {
 height:14px;
}

.dialog .hd {
 background:transparent url(/static/tl.png) no-repeat 0px 0px;
}

.dialog .hd .c {
 background:transparent url(/static/tr.png) no-repeat right 0px;
}

.dialog .bd {
 background:transparent url(/static/ml.png) repeat-y 0px 0px;
}

.dialog .bd .c {
 background:transparent url(/static/mr.png) repeat-y right 0px;
}

.dialog .bd .c .s {
 margin:0px 8px 0px 4px;
 background:#fff;
 padding:1em;
}

.dialog .ft {
 background:transparent url(/static/bl.png) no-repeat 0px 0px;
}

.dialog .ft .c {
 background:transparent url(/static/br.png) no-repeat right 0px;
}
